<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e31273bf-0dae-4395-a8b5-33f801de7c65/resourcegroups/AZ-JHB-RSG-VCGPSD-ST10088758-TER/providers/Microsoft.Web/sites/KhumaloCraftApp1234</ResourceId>
    <ResourceGroup>AZ-JHB-RSG-VCGPSD-ST10088758-TER</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://khumalocraftapp1234.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a2c9396e-9bee-415a-b2e4-b37f16c5a389</ProjectGuid>
    <PublishUrl>https://khumalocraftapp1234.scm.azurewebsites.net/</PublishUrl>
    <UserName>$KhumaloCraftApp1234</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>